{% extends "base.html" %}
{% load static %}




{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
    
   
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
           <a href="#"><img src="{% static "images/ladiesfinger.webp" %}"></a>
        </div>
        
    </article> 
            </aside>
            <main class="col-md-6 border-left">
    <article class="content-body">
        
    
    <h2 class="title">Splendour Seeds Ladies Finger seeds kitchen garden vegetable Seeds<span class="badge bg-success">500g</span></h2>
    <h2><span class="badge bg-danger">10%</span></h2>
    <div>
        <header class="section-heading">  
            <div class="rating-star">
                <span><i class="fa fa-star" aria-hidden="true"></i>
                <span><i class="fa fa-star" aria-hidden="true"></i>
                <span><i class="fa fa-star" aria-hidden="true"></i>
                <span><i class="fa fa-star" aria-hidden="true"></i>
                        

                </span>
            </div>
            
        </header>
    </div>
    
    <div class="mb-3"> 
        <var class="price h4"><b>RS: </b>25.00</var> 
    </div> 
    
    <p>Splendour Seeds Ladies Finger seeds kitchen garden vegetable Seeds
        Seed quantity : 50 seeds. Splendour Seeds Ladies finger seeds is fairly low maintenance and is normally quite easy to grow.
        Year round crop produced subject to local climate. Prefers hot climate for best growth
        Our product are QR Coded and scan for geniue check at splendour seeds website.</p>
    
    
    <hr>
    

        <hr>
        <a href="#" class="btn  btn-primary text-center xr-5"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
    </article>
            </main>
        </div>
    </div>
    


{% endblock  %}